.grad_1{
    height: 100px;
    background: linear-gradient(90deg, red, green, blue);
}
.grad_2{
    height: 100px;
    background: linear-gradient(to left, red, green, blue);
}
.grad_3{
    height: 100px;
    background: linear-gradient(to right, red, green, blue);
}
.grad_4{
    height: 100px;
    background: linear-gradient(to top, red, green, blue);
}
.grad_5{
    height: 100px;
    background: linear-gradient(to bottom, red, green, blue);
}
.grad_6{
    height: 100px;
    background: linear-gradient(to bottom right, red, green, blue);
}
.grad_7{
    height: 100px;
    background: linear-gradient(to right, red, green 25%, blue);
}
p{
    color: white;
    font-size: 25px;
}