.card_0{
    background-color: #CCC;
    width: 300px;
    height: 300px;
}
.lorem_0{
    font-size: 20px;
    width: 400px;
}
img{
    text-align: center;
}
.card_1{
    background-color: #CCC;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.lorem_1{
    font-size: 20px;
}
.card_2{
    background-color: #CCC;
    width: 300px;
    height: 300px;
    overflow: scroll;
}
.lorem_2{
    font-size: 20px;
}
.card_3{
    background-color: #CCC;
    width: 300px;
    overflow: auto;
}
.lorem_3{
    font-size: 20px;
    width: 400px;
}
.card_4{
    background-color: #CCC;
    width: 300px;
    height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.lorem_4{
    width: 400px;
    font-size: 20px;
}
.card_5{
    background-color: #CCC;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card_5{
    width: 400px;
    font-size: 20px;
}