a{
    background-color: cornflowerblue;
    color: beige;
    padding: 15px;
    text-decoration: none;
    border-radius: 5px;
}
.inst:visited{
    background-color: blueviolet;
}

.face:hover{
    padding: 20px;
    background-color: black;
}
.what:active{
    background-color: #444;
}