p{
    font-size: 25px;
}
#p1{
    color: red;
}
#p2{
    color: green;
}
#p3{
    color: blue;
}

#foto_1{
    width: 10cm;
}
#foto_2{
    width: 100mm;
}
#foto_3{
    width: 3in;
}
#foto_4{
    width: 288px;
}
#foto_5{
    width: 120pt;
}
#foto_6{
    width: 10pc;
}
